<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Colaborador</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script>
    function toggleFields() {
        var tipo = document.getElementById('id_tipo').value;
        var divPIS = document.getElementById('div_id_PIS');
        if (divPIS) {
            divPIS.style.display = (tipo === 'operacional') ? 'block' : 'none';
        }
    }
    window.onload = function() {
        var tipoField = document.getElementById('id_tipo');
        if (tipoField) {
            tipoField.addEventListener('change', toggleFields);
            toggleFields();
        }
    }
    </script>
</head>
<body>
    <div class="login-container">
        <h2>Cadastro de Usuário</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>

