# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.pyo
*.pyd

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
media
staticfiles

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# mypy
.mypy_cache/

# celery beat schedule file
celerybeat-schedule

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Pyre type checker
.pyre/

# Sphinx documentation
docs/_build/

# Unit test / coverage reports
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django migrations (optional)
*/migrations/*.py
!*/migrations/__init__.py